@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-[Raleway] bg-[#F5F5DC] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer text-[#CD5C5C] px-4 font-bold text-xl;
  }
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    #feda75 0%,
    #fa7e1e 20%,
    #d62976 40%,
    #962fbf 60%,
    #4f5bd5 80%
  );
}

.tiktok-bg {
  background: linear-gradient(90deg, #ff0050, #00f2ea, #000000);
}
